<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SplashScreen"
        tools:targetApi="31">

        <!-- 스플래시 화면 -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 로그인 화면 -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <!-- 메인 화면 -->
        <activity android:name=".MainActivity" />

        <!-- 회원가입 -->
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />

        <!-- 로그인 -->
        <activity
            android:name=".InputLogActivity"
            android:exported="false" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".CategoryManageActivity"/>
        <activity android:name=".CategoryUpdateActivity"/>

    </application>

</manifest>